
 body{
    background-color: aqua;
}
#Moving {
    position: absolute;
    padding-left: 55px;
    padding-top: 930px;
}
#Dog {
    position: absolute;
    padding-left: 10px;
    padding-top: 125px;
    
}

