*{
    padding: 0;
    margin: 0;
}
 body{
    background-color: aqua;
}

#background{
    height: auto;
    width: 3000px;

}
marquee {
    position: absolute;
    
    padding-top: 880px;
    
    width: 141%;
    
}
#dog {
    width: 200px;
    position: absolute;
    padding-left: 20px;
    padding-top: 890px;
    
}

